@import '/home/crax/Code/zhuhaibus/node_modules/vuetify/src/stylus/main.styl'

.theme--light.v-text-field--solo.search>.v-input__control>.v-input__slot {
  border-radius: 20px !important;
}
.theme--light.v-label {
  color: #5f6368 !important;
}

